

h1{
    font-weight: bold;
    font-size:45px;
    width:90%;  
    text-align:center;
    margin-top:40px;
    font-family: 'Tangerine';
    letter-spacing: 2px;
  }

h2{
  margin-top:20px;
  width:70%;
  font-size:36px;
  font-weight: bold;
  font-family: 'Tangerine';
  letter-spacing: 2px;
  text-align:center;
  }

h3{
  margin-left:70px;
  font-family: 'Roboto';
  font-weight:bold;
  font-size:22px;
  letter-spacing: 3px;
  color:blue;
  
}

.dropdown-options{
    font-family: 'Roboto';
    margin-top:5px;
    background-color: #dedcdc;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height:40px; 
    width:100px;
    margin-left:20px;
    font-size:16px;
    float:left;
    padding-top:8px;

  }
  
.dropdown-options:hover{
    background-color:cyan;
    color:darkblue;
    font-weight:bold;
    text-align:center;
    
  }
  
.dropdown-text{
    font-family: 'Roboto';
    margin-top:0px; 
    font-size:18px;
    color:black;
    display:block;
    text-align: center;
  }


.object{
    font-family: 'Roboto';
    height:30px;
    margin-left:30px;
    font-size:16px;  
    width:90%;
    font-weight: bold;
    display:block;
    border:solid 2px blue;
}

.odd{
  background-color: lightgray;
  color:blue;
}

.even{
  background-color: blue;
  color:white; 
  font-weight:bold
}

.object li {
  cursor: pointer;
  border-radius: 4px;
  display: block;
  border: solid 0px black;
}

.object li.selected:hover {
  background-color: #0b9db1 !important;
  border: solid 1px blue(0, 255, 42);
}
.object li:hover {
  color: #607D8B;
  background-color: rgb(30, 216, 200);
  left: .1em;
  border: solid 1px black;
}



.object:hover{
  background-color: cyan;
  font-size:18px;  
}

.labelrecord{
    font-family: 'Roboto';
    height:50px;
    color:red;
    padding-top:3px;
    padding-left:10px;
    margin-left:30px;
    font-size:22px;  
    width:170px;
    font-weight: bold;
    display:inline-flex;
}

.recordNb{
    font-size:22px;  
    width:30px;
    height:50px;
    width:60px;
    color:blue;
    padding-left:10px;
    padding-top:3px;
    font-weight: bold;
    display:inline-flex;
   }

  .breakLine{
    margin-top:80px;
  }

.common{
  font-family: 'Roboto';
  padding-left:10px;
  padding-top:10px;
  height:40px;
  
  display:inline-flex;
}

.labelbucket{ 
    width:180px;
    color:red;
    font-size:16px;
    margin-left:30px;
 }

.bucket{
    width:50%;
    color:blue;
    font-size:16px; 
 }

.input{
  width:50%;
  color:blue; 
  font-size:16px;
}

.input:hover{
  background-color: lightgrey;

}

 .urCommentsLabel{
  margin-left:30px;
  width:20%;
  height:90px; 
  color:red;
  font-size:16px; 
  display:inline-flex;
  padding-left:10px;
  padding-top:40px;
  float:left;
 }



.urComments{
  font-family: 'Roboto';
  font-size:16px;
  display:inline-flex;
  height:90px; 
  width:50%;

  color:blue;
 
 }
 .urComments:hover{
  background-color: lightgrey;
 
}

.even{
    color:blue;
    background-color: lightgrey;
}

.odd{
    color:white;
    background-color: rgb(115, 110, 110);
}

.empty{
  color:white;
  background-color: red;
  height:10px;
}

.submit{
  
  background-color: lightgrey;
  margin-left:60px;
  font-size:16px;
}
.submit:hover{
  color:blue;
  background-color:cyan;
}

.butt{
  font-family: 'Tangerine';
  margin-left:80px;
  /** box-shadow: left top blur around ; can have multiple***/
  box-shadow: 0px 0px 4px 0px rgba(0,128,255,0.2);
  background-color: rgb(201, 227, 212);
  color:blue;
  font-size:28px;
  border-radius: 30%;
  width:90px;
  height:40px;
  align-items: center;
  border:solid 0px black;
}
.butt:hover{
  color:blue;
  background-color:cyan;
}
.savePos{
  margin-left:100px;
}
.savePos:hover{
  color:blue;
  background-color:cyan;
}

.inputObject{
  height:200px;
  width:90%;
  margin-left:20px;
  font-size: 16px;
  
}

.inputColorRef{
  display:block;
  border:solid 1px black;
  color:rgb(241, 241, 246);
  background-color: rgb(54, 47, 204);
  overflow: scroll;
  display:flex;
}
.inputColor{
  color:blue;
  background-color: lightcyan;
  display:inline-flex;
}

.inputColor:hover{
  background-color: cyan;

}

.pswField{
  height:100px;
  width:90%;
  margin-left:20px;
  font-size: 16px;
  overflow: scroll;

}
/*** ====================================== ***/
/*** ============== @media1000 ================ ***/
/*** ====================================== ***/
 @media only screen and (max-width:10000px) {
  h3{
    margin-left:30px;
    font-size:16px;
    letter-spacing: 1px;
  }

.common{
    font-family: 'Roboto';
    padding-left:10px;
    padding-top:5px;
    height:25px;
    font-size:12px;
  }

.labelrecord{
  width:120px;
  font-size:16px;  
  height:20px;
  padding-top:2px;
  display:inline-flex;
 }

 .recordNb{
  font-size:16px;  
  width:25px;
  padding-top:2px;
  display:inline-flex;
  height:20px;
 }

 .breakLine{
   margin-top:5px;
 }

 .labelbucket{
  width:120px;
  font-size:14px;
 }
.bucket{
  width:50%;
  font-size:14px;
 }

 .urCommentsLabel{
  width:120px;
  height:120px; 
  font-size:14px;
 }

 .urComments{
  font-size:14px;
  height:120px; 
  width:50%;
 }
 .input{
  font-size:14px;
}
 .empty{
  height:5px;
}
.butt{
  margin-left:30px;
  font-size:22px;
  height:30px;
  width:80px;
}
.savePos{
  margin-left:20px;
  margin-top:5px;
}
}