<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>
  <!--
  <br> Device type is {{device_type}}
  <br> Screen width = {{getScreenWidth}}
  <br> Screen height = {{getScreenHeight}}
  <br><br>

        <audio  controls autoplay loop height="" width="">
        <source src="./It's A Beautiful Day.mp3" type="audio/mpeg">
      </audio>

  --> 
  <div id='targetTop' ></div>
  <h1 style="margin-top:2px;"><br></h1>
 <h1 style="margin-top:140px;">Pictures of our wedding</h1>
 <h3 >Total number of photos: {{WeddingPhotos.length}}</h3>
 <br><br>


<br><br>

    <div *ngFor="let slowDisplay of slow_table let i=index" style="margin-left:20px;">
      
        <span *ngIf="slowDisplay!==''">
              <span style="width:80%; display:block; font-size:14px; color:blue">  {{WeddingPhotos[PhotoNumber[i]-1].name}}
                <br>Photo nb:  <label style="color:red; font-size:18px;"> {{PhotoNumber[i]}} </label></span>
              
              <span *ngIf="WeddingPhotos[PhotoNumber[i]-1].vertical===false && slowDisplay!=='' ">
                    <img  (mouseover)="onZoomPhoto(i)" class="photo" [ngStyle]="{'width.px':theWidthH, 'height.px':theHeightH}" src={{slowDisplay}}>
              </span>
              <span *ngIf="WeddingPhotos[PhotoNumber[i]-1].vertical===true && slowDisplay!==''">
                <img  (mouseover)="onZoomPhoto(i)" class="photoVertical"  [ngStyle]="{'width.px':theWidthV, 'height.px':theHeightV}" src={{slowDisplay}}>
              </span>
              <button  class="GOdownload"><span  class="material-symbols-outlined myIcon" (click)="onSaveFile(slowDisplay)">
                            download
                      </span>
              </button> 
              <br><br>  
            </span>
          
    </div>

 <br><br>



    <button class='butt' id="but3" (click)="next_prev_page('prev')" >Prev page</button>
    <span style="margin-left:20px; font-size:6px;">&nbsp;</span>
    <span *ngFor="let tab_pages of pages_to_display; let i=index">

        <span *ngIf="tab_pages===nb_current_page && tab_pages!==-1" class="highlight_page"  >
            {{tab_pages}} <span style="font-size:6px;">&nbsp;</span>
        </span> 
        <span *ngIf="tab_pages!==nb_current_page && tab_pages!==-1" class="lowlight_page" (click)="display_page(tab_pages)">
            {{tab_pages}} <span style="font-size:6px;">&nbsp;</span>
        </span>
        
    </span>
    <button class='butt' id="but4" (click)="next_prev_page('next')" >Next page</button>


<div *ngIf="myLogConsole===true">
  <h2 style="margin-left:20px;">Log console is activated</h2>
  <h3 style="margin-left:20px;">number of non archived msgs = {{myConsole.length+1}}</h3>
  <div [formGroup]="PhotoNbForm" class="position-parameters">
    <span ><label class="posParamPhoto">Force save console log </label>
      <select id="log"  class="position-field"  formControlName="ForceSaveLog">
        <option  value="y">yes</option>
        <option selected value="n">no</option>
      </select>  
      <button class="butt" id="but7" (click)="ForceSaveLog()">Submit</button>
    </span>
</div>

</div>

<h2 style="margin-left:20px;">Display a specific picture</h2>
<br>

<div [formGroup]="PhotoNbForm" class="position-parameters">
        <span ><label class="posParamPhoto">Number </label><input formControlName="SelectNb" type="number" class="position-field" >
  <button class="butt" id="but6" (click)="drawPhotoCanvas()">Submit</button>
</span>
</div>
<br>

<div *ngIf="first_canvas_displayed===true">
  <span style="color:blue; font-size:18px; margin-left:40px;">{{message_canvas}}</span>
</div>
<br>br>
<canvas 
#ImageCanvas 
id='canvasElem' 
class="position" 
width="550" 
height="600" 
>
</canvas>
<br><br>

</body>
